/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

:root {
    --blue: rgb(32, 135, 252);
    --light-blue: rgb(219, 235, 250);
    --text-gray: rgb(107, 107, 107);
    --shadow: rgb(209, 209, 209);
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* fonts */

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Italic.woff2') format('woff2'),
        url('Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#main-container {
    min-height: 100vh;
    height: auto;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content 1fr;
}

#sidebar {
    background-color: var(--blue);
    grid-row : 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 20px 30px;
    padding-right: 60px;
}

#sidebar .logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo .dashboard-icon {
  width: 50px;
  height: auto;
}

.logo p {
  color: white;
  font-size: 1.7rem;
  font-weight: 900;
}

#sidebar ul {
  list-style: none;
  padding: 0;
}

#sidebar ul li + li {
  margin-top: 20px;
}

#sidebar ul li {
  padding-left: 10px;
}

#sidebar a {
  display: flex;
  align-items: center;
  gap: 30px;
  text-decoration: none;
  color: white;
  font-weight: 900;
  font-size: 1.5em;
}

#sidebar .nav-icon {
  display: inline;
  width: 30px;
  height: auto;
}

header {
    position: relative;
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr; 
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    height: fit-content;
    padding: 0 50px;
    box-shadow: 0px 4px 4px var(--shadow);
}

.searchbar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.searchbar input {
  appearance: none;

  border: none;
  background-color: var(--light-blue);
  border-radius: 1rem;
  height: 2rem;
  flex: 1;
  max-width: 70%;
}

.profile-picture,
.profile-picture-big {
  height: auto;
  border-radius: 100%;
}

.profile-picture {
  width: 50px;
}

.profile-picture-big {
  width: 70px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.profile > p {
  font-weight: 900;
  font-size: 1.2rem;
}

.profile-big {
  font-weight: 900;
}

.profile-big p:last-child {
  font-size: 1.4rem;
}

.header-row {
    grid-column: 1 / 3; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-row > * {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-buttons button {
  border: none;
  background-color: var(--blue);
  border-radius: 25px;
  padding: 10px 30px;
  color: white;
  font-weight: 900;
}

main {
    background-color: var(--light-blue);
    display: grid;
    grid-template-columns: 1fr 20vw;
    gap: 2em;
    padding: 10px 30px;
}

main h2 {
  margin-bottom: 10px;
}

.projects > .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    gap: 30px;
}

.card-icons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.card,
.announcement-card,
.trending-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 20px;
  border-radius: 15px;
  box-shadow: 4px 4px 4px var(--shadow);
}

.card {
  border-left: 15px solid rgb(255, 217, 0);
}

.card p {
  flex: 1;
  color: var(--text-gray);
  font-weight: 500;
}

.card h3 {
  font-size: 1.4rem;
  font-weight: 900;
}

.icon {
  width: 30px;
  height: auto;
}

.announcement-card {
  margin-bottom: 50px;
}

.announcement-card > .announcement + .announcement {
  border-top: 2px solid gray;
  padding-top: 10px;
}

.announcement > p:first-child {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.announcement > p:last-child {
  color: var(--text-gray);
}


.trending-profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

.trending-profile + .trending-profile {
  margin-top: 20px;
}

.trend-text > p:first-child {
  font-weight: 700;
  margin-bottom: 5px;
}

.trend-text > p:last-child {
  color: var(--text-gray);
}
