/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

:root {
    --blue: rgb(32, 135, 252);
    --text-gray: rgb(107, 107, 107);
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* fonts */

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Italic.woff2') format('woff2'),
        url('Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#main-container {
    width: 100vw;
    min-height: 100vh;
    height: auto;
    display: grid;
    grid-template-columns: minmax(max-content, 20vw) 1fr;
}

#sidebar {
    background-color: var(--blue);
    grid-row : 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 20px 30px;
    padding-right: 50px;
}

#sidebar .logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo .dashboard-icon {
  width: 50px;
  height: auto;
}

.logo p {
  color: white;
  font-size: 1.7rem;
  font-weight: 900;
}

#sidebar ul {
  list-style: none;
  padding: 0;
}

#sidebar ul li + li {
  margin-top: 20px;
}

#sidebar ul li {
  padding-left: 10px;
}

#sidebar a {
  display: flex;
  align-items: center;
  gap: 30px;
  text-decoration: none;
  color: white;
  font-weight: 900;
  font-size: 1.5em;
}

#sidebar .nav-icon {
  display: inline;
  width: 30px;
  height: auto;
}

header {
    background-color: white;
    display: grid;
    grid-template-rows: fit-content fit-content; 
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-row > * {
    display: flex;
    align-items: center;
}

main {
    background-color: rgb(219, 235, 250);
    display: grid;
    grid-template-columns: 1fr 20vw;
    gap: 1em;
    padding: 10px 30px;
}

.projects > h2 {
  margin-bottom: 10px;
}

.projects > .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    gap: 30px;
}

.card-icons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 20px;
  border-left: 15px solid rgb(255, 217, 0);
  border-radius: 15px;
}

.card p {
  flex: 1;
  color: var(--text-gray);
  font-weight: 500;
}

.card h3 {
  font-size: 1.4rem;
  font-weight: 900;
}

.card img {
  width: 30px;
  height: auto;
}